<launch>

<!-- start stage node -->
	<node pkg="stage" type="stageros" output="screen" name="stageros" args="$(find AIS_worlds)/LBH.world">
 	<remap from="base_scan" to="laserscan"/>
	</node>

<!-- start intrudy node -->
	<node pkg="intrudy" type="intrudy.py" output="screen" name="intrudy" >
	</node>

</launch>
